/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #3498db; /* Example color value */
  --body-text-font: "Google Sans", sans-serif;
  --heading-text-font: "Bricolage Grotesque", serif;
  --body-font-size: 1.1rem;
  --btn-out-color: #ff6b01;
  --btn-link-color: #001775;
  --heading-color: #1f1f1f;
  --normal-text-color: #333333;
}
html,
body {
  height: 100%;
  font-family: sans-serif;
  font-size: 22px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  font-family: var(--body-text-font);
  font-size: var(--body-font-size);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: var(--heading-text-font);
}

a,
button {
  text-decoration: none;
  color: inherit;
  font-family: var(--body-text-font);
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
  width: 100%;
  max-width: 1580px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.logo-container img {
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 280px;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navigation li a {
  display: block;
  padding: 8px 16px;
  font-size: 1.1rem;
  color: #1e1e1e;
  transition: all 0.3s ease;
}

.navigation li a:hover {
  color: #20c1ba;
}

.navigation li a.home-link {
  color: #20c1ba;
}

.navigation .btn-signup {
  background-color: var(--btn-out-color);
  color: white;
  border: none;
  padding: 4px 28px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
}
.navigation .btn-signup:hover {
  opacity: 0.8;
  color: #fff;
}

.two-column {
  display: flex;
}
.started-section {
  width: 100%;
  margin-top: 120px;
}
.started-container {
  width: 100%;
  max-width: 1580px;
}

.started-container .started-description {
  width: 50%;
}

.started-container .started-description h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 120%;
  color: var(--heading-color);
}
.started-container .started-description .hight-light {
  color: var(--btn-out-color);
}

.started-description p {
  color: var(--normal-text-color);
  margin: 26px 0;
}
.started-description .btn-started {
  background-color: var(--btn-link-color);
  color: white;
  border: none;
  padding: 8px 28px;

  transition: all 0.3s ease;
  border-radius: 8px;
}
.started-container .doctor-description {
  width: 50%;
  position: relative;
}
.doctor-description > img {
  position: absolute;
  width: 420px;
  height: auto;
  right: 20%;
  top: -20%;
}
.doctor-description .doctor-ad {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 20%;
  left: 5%;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  text-align: center;
}

.doctor-ad .doctor-list {
  display: flex;
}
.doctor-list .more-doctor {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-link-color);
  color: #fff;
}
.doctor-ad .doctor-list::before {
  content: "200+";
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-family: var(--body-text-font);
  font-weight: bold;
}
.doctor-ad .doctor-list img,
.doctor-list .more-doctor {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: -12px;
  border: 4px solid #20c1ba;
}

.doctor-description .contact-card {
  position: absolute;
  right: 5%;
  bottom: -16%;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 24px;
  border-radius: 24px;
}
.contact-card img {
  width: 80px;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 12px;
}
.contact-card p {
  margin: 16px 0;
  font-size: 1rem;
}
.contact-card button {
  color: var(--btn-link-color);
  border: 2px solid var(--btn-link-color);
  padding: 2px 28px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
}
.contact-card button:hover {
  background-color: var(--btn-link-color);
  color: #fff;
}
.booking-section {
  width: 100%;
  margin-top: 120px;
}
.booking-container {
  width: 100%;
  max-width: 1580px;
}

.booking-container .ads-banner {
  width: 35%;
  background-image: url(/images/doctor-banner.webp);
  background-repeat: no-repeat;
  background-size: 50%;
  background-color: #395adf;
  background-position: bottom 0 right -28px;
}
.ads-banner div {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-left: 40px;
  color: #eee;
}
.ads-banner div p {
  font-family: var(--heading-text-font);
  font-size: 1.5rem;
  line-height: 110%;
}
.booking-form {
  width: 65%;
  margin-left: 40px;
  border: 2px solid #ff6b01;
  box-sizing: border-box;
  padding: 32px 46px;
  border-radius: 12px;
  font-family: var(--body-text-font), sans-serif;
}

.booking-info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}

.booking-info .location,
.date,
.person {
  display: flex;
  align-items: center;
}

i.iconic {
  min-width: 58px;
  min-height: 58px;
  display: flex;
  font-size: 1.4rem;
  justify-content: center;
  align-items: center;
}
.location i {
  color: #9800f4;
  background-color: #ffe3fc;
  border-radius: 50%;
}
.date i {
  color: #ff6b01;
  background-color: #fff3e6;
  border-radius: 50%;
}

.person i {
  color: #20c1ba;
  background-color: #e6f7f7;
  border-radius: 50%;
}

.booking-form .input-field {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.input-field label {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.input-field input,
.input-field select {
  width: 100%;
  padding: 4px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-weight: 600;
}

.date::before,
.person::before {
  content: "|";
  padding: 0 20px;
}
.submit-btn {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  align-items: center;
}
.submit-btn .send-button {
  background-color: var(--btn-link-color);
  color: white;
  border: none;
  padding: 8px 28px;
  transition: all 0.3s ease;
  border-radius: 8px;
}
.submit-btn input {
  width: 40px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px 0 20px;
}
.department-section {
  width: 100%;
  margin-top: 120px;
}

.department-container {
  width: 100%;
  max-width: 1580px;
}
.department-container .department-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.department-heading h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
.department-heading a {
  color: #eee;
  padding: 10px 28px;
  background-color: var(--btn-out-color);
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
}
.department-container .department-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 32px;
  margin-top: 20px;
  text-align: center;
  margin-top: 80px;
}
.department-list .department-item {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #20c1ba;
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 28px 0;
}

.department-list .department-item:hover {
  transform: translateY(-16px);
}

.department-item p {
  font-size: 1.2rem;
  font-weight: 550;
  margin-top: 12px;
}

.department-item img {
  max-width: 60px;
}

.department-list .emergency {
  background-color: #fff1f1;
}
.department-list .child {
  background-color: #f3ffeb;
}

.department-list .gender {
  background-color: #ecf6ff;
}

.department-list .heart {
  background-color: #fcf7fe;
}

.department-list .neuron {
  background-color: #f1ffff;
}

.department-list .brain {
  background-color: #fff3fd;
}

.facilities-section {
  width: 100%;
  margin-top: 120px;
}

.facilities-container {
  width: 100%;
  max-width: 1580px;
}

.facilities-container .facilities-heading {
  width: 55%;
  min-width: 880px;
  text-align: center;
  margin: 0 auto;
}
.facilities-heading p {
  margin-top: 20px;
}

.facilities-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 80px;
}
.facilities-grid .facilities-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.3s ease;
}

/* .facilities-card:hover {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
} */

.facilities-card h3 {
  font-size: 1.5rem;
  margin-top: 40px;
}
.facilities-card img {
  width: 100px;
  height: 100px;
}
.facilities-card p {
  line-height: 120%;
  margin: 30px 0;
  font-weight: 300;
}
.facilities-card .btn-link {
  background-color: none;
  color: var(--btn-out-color);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.facilities-card .btn-link i {
  margin-left: 16px;
  transition: all 0.3s ease;
}
.facilities-card .btn-link:hover i {
  transform: translateX(8px);
}
.facilities-grid .brain {
  background-color: #f4f2ff;
}
.facilities-grid .urology {
  background-color: #fff2ef;
}
.facilities-grid .bone {
  background-color: #ebfdf7;
}
.facilities-grid .eye {
  background-color: #e5f8ff;
}
.facilities-grid .heart {
  background-color: #feffdf;
}
.facilities-grid .bed {
  background-color: #feedff;
}

/* CSSS FOR JOURNEY RECOVERY SECTION */

.recovery-section {
  width: 100%;
  margin-top: 220px;
}
.recovery-container {
  width: 100%;
  max-width: 1580px;
}
.recovery-container .recovery-intro {
  width: 50%;
}
.recovery-intro h2 {
  line-height: 126%;
}
.recovery-intro p {
  margin: 40px 0;
}
.recovery-intro a > button {
  border: none;
  background-color: var(--btn-link-color);
  color: #fff;
  padding: 16px 28px;
  border-radius: 8px;
}
.recovery-container .recovery-img {
  width: 50%;
}
.recovery-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recovery-img img {
  width: 100%;
  max-width: 700px;
  border-radius: 40px;
  margin-left: 40px;
}

/* CSS FOR OUR VALUE SECTION*/

.value-section {
  width: 100%;
  margin-top: 120px;
}
.value-container {
  width: 100%;
  max-width: 1580px;
}
.values-heading {
  width: 100%;
}
.value-description {
  align-items: center;
}
.value-description .value-resource {
  width: 70%;
  margin-right: 40px;
}
.value-resource p {
  margin: 40px 0;
}
.value-resource .value-number {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.value-resource .value-number p {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--heading-text-font);
  margin: 0;
}
.value-resource .value-number span {
  font-size: 1.2rem;

  margin-top: 12px;
  font-family: var(--body-text-font);
}
.value-resource .doctor-list {
  display: flex;
}

.value-list {
  width: 30%;
}
.value-list li {
  padding: 30px 40px;
  border: 2px solid #44ad44;
  display: flex;
  align-items: center;
  margin-top: 60px;
  border-radius: 20px;
  font-family: var(--body-text-font);
  font-size: 1.5rem;
  font-weight: 700;
}
.value-list li#compassion,
.expert {
  border-color: #ff6b01;
  color: #ff6b01;
}
.value-list li#excellence {
  border-color: #0074fe;
  color: #0074fe;
}
.value-list li#integrity,
.recovery {
  border-color: #9904fe;
  color: #9904fe;
}
.value-list li#respect,
.satified {
  border-color: #44ad44;
  color: #44ad44;
}
.value-list li svg,
.value-list li img {
  width: 50px;
  height: 5%;
  margin-right: 32px;
  color: #eee;
}

/* CSS FOR MEDICAL SERVICES SESSION */

.medical-services {
  width: 100%;
  margin-top: 220px;
  max-width: 1580px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
}
.medical-item img {
  width: 80px;
  border-radius: 50%;
  padding: 20px;
}
.medical-item h3 {
  font-size: 1.5rem;
  margin: 20px 0 32px 0;
  font-weight: 700;
}
.medical-item .doctor {
  filter: invert(11%) sepia(80%) saturate(5996%) hue-rotate(274deg)
    brightness(118%) contrast(121%);
  background-color: #f9d9ff;
}
.medical-item .support {
  filter: invert(51%) sepia(68%) saturate(3696%) hue-rotate(359deg)
    brightness(101%) contrast(107%);
  background-color: #e5f8ff38;
}
.medical-item .team {
  filter: invert(62%) sepia(12%) saturate(2518%) hue-rotate(71deg)
    brightness(90%) contrast(76%);
  background-color: #f4f2ff41;
}

/* CSS FOR REVIEWS SECTION */

.review-section {
  width: 100%;
  margin-top: 120px;
  max-width: 1580px;
}
.review-container {
  margin-top: 80px;
}
.review-section .review-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review-heading a {
  color: #fff;
  padding: 18px 28px;
  background-color: var(--btn-link-color);
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
}

.review-section .testimonial {
  width: 35%;
  border: 2px solid #c9daff;
  padding: 40px 40px 60px 40px;
  box-sizing: border-box;
}
.testimonial .testimonial-patient-info {
  margin-top: 20px;
  display: block;
  padding: 20px;
  transition: all 0.4s ease;
}

.testimonial-patient-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  float: left;
  align-items: center;
}

.testimonial-patient-info:hover {
  box-shadow: 5px 5px 10px #c9daff;
  border-radius: 20px;
}
.review-section .reviews {
  width: 65%;
  box-sizing: border-box;
  padding-left: 140px;
  position: relative;
  margin-top: 60px;
}
.review-section .review-text::before {
  content: open-quote;
  position: absolute;
  color: #20c1b97c;
  font-size: 26rem;
  left: 0;
  top: -55%;
  z-index: -1;
}
.reviews .rating {
  display: flex;
  align-items: center;
}
.reviews h3 {
  font-size: 2rem;
}
.reviews quotes {
  font-family: var(--body-text-font);
}
.reviews .rating img {
  width: 34px;
  padding-right: 10px;
  box-sizing: border-box;
  margin: 20px 0 54px 0;
}

/* CSS FOR CONTACT SECTION */

.contact {
  width: 100%;
  max-width: 1580px;
  margin-top: 120px;
}
.contact__intro {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.contact__intro p {
  margin: 20px 0 60px 0px;
}

.contact__cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}
.card-item__avarta {
  width: 116px;
  border-radius: 50%;
  padding: 8px;
  background-color: #0072fe4f;
}

.card-item__name {
  margin-top: 20px;
  font-size: 1.2rem;
}
.card-item__special {
  margin-bottom: 40px;
}
.card-item__option {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}
.card-item__option img {
  width: 26px;
}
.card-item__option a {
  display: inline-block;
  padding: 4px;
  background-color: #0072fe42;
  border-radius: 8px;
}
.card-item--selected {
  padding: 40px;
  margin: 10px 20px;
  border-radius: 24px;
  box-shadow: 5px 5px 10px #c9daff;
}
.contact__more {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__more a {
  color: #fff;
  padding: 18px 28px;
  background-color: var(--btn-out-color);
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
  margin-top: 60px;
}
